<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/bruker-spr/json" binding="webHttpBinding"  behaviorConfiguration="JsonBehavior" contract="IBrukerSprRemoteService" />
      <!--<endpoint address="net.tcp://localHost:9002/bruker-spr/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="IBrukerSprRemoteService" />-->
    </client>
  </system.serviceModel>
</configuration>